<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Banner Management</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->

    <!--plugin css file -->
    <link rel="stylesheet" href="/assets/plugin/nouislider/nouislider.min.css">

    <!-- project css file  -->
    <link rel="stylesheet" href="/assets/css/ebazar.style.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.css" rel="stylesheet">
    <style>
        .banner-box {
            transition-duration:0.4s;
            height: 50px;
            background-color: #dadde0;
            border: 1px solid #dee2e6;
            margin-bottom: 20px;
            cursor: pointer;
        }
        .banner-box:hover {
            background-color: #e9ecef;
        }
        .banner-box h5 b{
            transition-duration:0.4s;
            color:rgb(74, 74, 74);
        }
        .banner-box h5 b:hover {
            color:black;
        }
    </style>
    
</head>
<body>
    <div id="ebazar-layout" class="theme-blue">        

        <!-- sidebar -->
        <div class="sidebar px-4 py-4 py-md-4 me-0">
            <div class="d-flex flex-column h-100">
                <a href="/" class="mb-0 brand-icon">
                    <span class="logo-icon">
                        <i class="bi bi-bag-check-fill fs-4"></i>
                    </span>
                    <span class="logo-text">Pawty</span>
                </a>
                <!-- Menu: main ul -->
                <ul class="menu-list flex-grow-1 mt-3">
                    <li><a class="m-link" href="/Dashboard"><i class="icofont-home fs-5"></i> <span>Dashboard</span></a></li>
                    <li class="collapsed">
                        <a class="m-link" href="/admin-ProductView">
                            <i class="icofont-truck-loaded fs-5"></i> <span>Products</span>
                        </a>
                    </li>
                    <li class="">
                        <a class="m-link" href="/admin/Customers">
                            <i class="icofont-people fs-5"></i> <span>Customers</span>
                        </a>
                    </li>
                    <li class="">
                        <a class="m-link"  href="/admin/Vendors">
                            <i class="icofont-team fs-5"></i> <span>Vendors</span>
                        </a>
                    </li>
                    <li class="collapsed">
                        <a class="m-link" href="/admin-Orderview">
                            <i class="icofont-notepad fs-5"></i> <span>Orders</span>
                        </a>
                    </li>
                    <li>
                        <a class="m-link active" href="/bannerView">
                            <i class="icofont-image fs-5"></i> <span>Banners</span>
                        </a>
                    </li>
                    <li class="collapsed">
                        <a class="m-link" data-bs-toggle="collapse" data-bs-target="#coupon" href="#">
                            <i class="icofont-sale-discount fs-5"></i> <span>Coupons</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                            <!-- Menu: Sub menu ul -->
                            <ul class="sub-menu collapse" id="coupon">
                                <li><a class="ms-link " href="/admin/couponList">Coupons List</a></li>
                            <li><a class="ms-link" href="/admin/addCoupon">Coupons Add</a></li>
                            </ul>
                    </li>
                    <li class="collapsed">
                        <a class="m-link " data-bs-toggle="collapse" data-bs-target="#categories" href="#">
                            <i class="icofont-chart-flow fs-5"></i> <span>Categories</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                            <!-- Menu: Sub menu ul -->
                            <ul class="sub-menu collapse" id="categories">
                                <li><a class="ms-link " href="/categories">Categories List</a></li>
                                <!-- <li><a class="ms-link" href="categories-edit.html">Categories Edit</a></li> -->
                                <li><a class="ms-link" href="/addCategory">Categories Add</a></li>
                            </ul>
                    </li>
                    <li class="collapsed">
                        <a class="m-link" data-bs-toggle="collapse" data-bs-target="#subcategories" href="#">
                            <i class="icofont-chart-flow fs-5"></i> <span>Sub-Categories</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                            <!-- Menu: Sub menu ul -->
                            <ul class="sub-menu collapse" id="subcategories">
                                <li><a class="ms-link" href="/subCategories">Sub-Categories List</a></li>
                                <!-- <li><a class="ms-link" href="categories-edit.html">Sub-Categories Edit</a></li> -->
                                <li><a class="ms-link" href="/addSubCategory">Sub-Categories Add</a></li>
                            </ul>
                    </li>
                    <li class="collapsed">
                        <a class="m-link" data-bs-toggle="collapse" data-bs-target="#subcantegories" href="#">
                            <!-- <i class="icofont-chart-flow fs-5"></i> <span>Sub-Categories</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a> -->
                            <!-- Menu: Sub menu ul -->
                            <ul class="sub-menu collapse" id="subcantegories">
                                <li><a class="ms-link" href="/subCategories">Sub-Categories List</a></li>
                                <!-- <li><a class="ms-link" href="categories-edit.html">Sub-Categories Edit</a></li> -->
                                <li><a class="ms-link" href="/addSubCategory">Sub-Categories Add</a></li>
                            </ul>
                    </li>
                    </ul>
            </div>
        </div>   

        <!-- main body area -->
        <div class="main px-lg-4 px-md-4">

            <!-- Body: Header -->
            <div class="header">
                <nav class="navbar py-4">
                    <div class="container-xxl">

                        <!-- header rightbar icon -->
                        <div class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1">
                            
                            <div class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center zindex-popover">
                                <div class="u-info me-2">
                                    <p class="mb-0 text-end line-height-sm "><span class="font-weight-bold"><%= admin.adminname %></span></p>
                                    <small>Admin </small>
                                </div>
                                <a class="nav-link dropdown-toggle pulse p-0" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static">
                                    <img class="avatar lg rounded-circle img-thumbnail" src="/assets/images/profile_av.svg" alt="profile">
                                </a>
                                <div class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-end p-0 m-0">
                                    <div class="card border-0 w280">
                                        <div class="card-body pb-0">
                                            <div class="d-flex py-1">
                                                <img class="avatar rounded-circle" src="assets/images/profile_av.svg" alt="profile">
                                                <div class="flex-fill ms-3">
                                                    <p class="mb-0"><span class="font-weight-bold"><%= admin.adminname %></span></p>
                                                    <small class=""><%= admin.email %></small>
                                                </div>
                                            </div>
                                            
                                            <div><hr class="dropdown-divider border-dark"></div>
                                        </div>
                                        <div class="list-group m-2 ">
                                            <!-- <a href="/admin/profile" class="list-group-item list-group-item-action border-0 "><i class="icofont-ui-user fs-5 me-3"></i>Profile Page</a> -->
                                            <!-- <a href="order-invoices.html" class="list-group-item list-group-item-action border-0 "><i class="icofont-file-text fs-5 me-3"></i>Order Invoices</a> -->
                                            <a href="/admin/logout" class="list-group-item list-group-item-action border-0 "><i class="icofont-logout fs-5 me-3"></i>Signout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="setting ms-2">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#Settingmodal"><i class="icofont-gear-alt fs-5"></i></a>
                            </div>
                        </div>
        
                        <!-- menu toggler -->
                        <button class="navbar-toggler p-0 border-0 menu-toggle order-3" type="button" data-bs-toggle="collapse" data-bs-target="#mainHeader">
                            <span class="fa fa-bars"></span>
                        </button>
        
                        <!-- main menu Search-->
                        <div class="order-0 col-lg-4 col-md-4 col-sm-12 col-12 mb-3 mb-md-0 ">
                            
                        </div>
        
                    </div>
                </nav>
            </div>

            <!-- Body: Body -->
            <div class="container my-5">
                <h2><b>Banners</b></h2>
                <div>
                    <h3 class="text-center mt-5"><b>Home Page</b></h3>
                    <div class="row">
                        <div class="col">
                            <div class="d-flex justify-content-center mb-3">
                                <div class="col-lg-12 row d-flex justify-content-between">
                                    <% admin.banner.mainBanner.forEach(img => { %>
                                        <div class="col"><img width="200" height="100"src="<%= img %>" alt="Image1"></div>
                                    <% }) %>
                                </div>
                            </div>
                            <div class="banner-box d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#homeBannerModal"><h5><b class="">Change Home Banners</b></h5></div>
                        </div>
                    </div>
                </div>

                <div>
                    <h3 class="text-center mt-5"><b>Offer Banners</b></h3>
                    <div class="row">
                        <div class="col">
                            <div class="d-flex justify-content-center mb-3">
                                <div class="col-lg-12 row d-flex justify-content-between">
                                    <div class="col d-flex justify-content-center"><img width="200" height="200" src="<%= admin.banner.offerBanner[0].image%>" alt="Image1"></div>
                                    <div class="col d-flex justify-content-center"><img width="200" height="200" src="<%= admin.banner.offerBanner[1].image%>" alt="Image2"></div>
                                    <div class="col d-flex justify-content-center"><img width="200" height="200" src="<%= admin.banner.offerBanner[2].image%>" alt="Image3"></div>
                                </div>
                            </div>
                            <div class="col-lg-12 g-2 row d-flex justify-content-between">
                                <div class="banner-box col d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#homePageOffersModal1"><h5><b>Change Banner</b></h5></div>
                                <div class="banner-box col d-flex justify-content-center align-items-center mx-2" data-bs-toggle="modal" data-bs-target="#homePageOffersModal2"><h5><b>Change Banner</b></h5></div>
                                <div class="banner-box col d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#homePageOffersModal3"><h5><b>Change Banner</b></h5></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <h3 class="text-center mt-5"><b>Multi Page Banner</b></h3>
                    <div class="row">
                        <div class="col">
                            <div class="d-flex justify-content-center mb-3">
                                <div class="col-lg-12 row d-flex justify-content-center">
                                    <div class="col d-flex justify-content-center"><img width="800" height="300"src="<%= admin.banner.multiplePageBanner[0] %>" alt="Image1"></div>
                                </div>
                            </div>
                            <div class="banner-box d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#singlePageBannerModal"><h5><b class="">Change Page Banners</b></h5></div>
                        </div>
                    </div>
                </div>

                <!-- Modal for Home Page -->
                <div class="modal fade" id="homeBannerModal" tabindex="-1" aria-labelledby="homeBannerModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="homeBannerModalLabel">Change Home Page Banner</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                <div class="row mt-3">
                                    <form id="homeBannerForm" action="/changeMainBanner" class="col d-flex justify-content-between" method="post" enctype="multipart/form-data">
                                        <input type="file" multiple name="image" id="homeBanner"><br>
                                        <small id="homeFileErrorMsg" class="text-danger d-none"><b>Please select at least one image</b></small>
                                        <button type="submit" class="btn btn-primary">Change Banner</button>
                                    </form>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
 
                <!-- Modal for Home Page Offers -->
                <!-- 1 -->
            <div class="modal fade" id="homePageOffersModal1" tabindex="-1" aria-labelledby="homePageOffersModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="homeBannerModalLabel">Change Offer Banner</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            <div class="row mt-3">
                                <form id="offerBannerForm1" action="/offerbanner/1" class="col" method="post" enctype="multipart/form-data">
                                    <div class="form-group row">
                                        <label for="offerBanner1" class="col-sm-2 col-form-label"><b>Image</b></label>
                                        <div class="col-sm-6">
                                            <input type="file" class="form-control-file" id="offerBanner1" name="image" accept="image/*">
                                        </div>
                                    <span id="offerFileErrorMsg1" class="text-danger d-none col-sm-4"><b>Please select an image</b></span>
                                    </div>
                                    <div class="form-group row">
                                        <label for="offerVal" class="col-sm-2 col-form-label"><b>Offer Value</b></label>
                                        <div class="col-sm-3">
                                            <input type="text" name="offerVal" class="form-control" placeholder="eg: Flat 50 or 20%" id="offerVal">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="title1" class="col-sm-2 col-form-label"><b>Title</b></label>
                                        <div class="col-sm-10">
                                            <input type="text" name="title" placeholder="Your Offer title here" class="form-control" id="title1">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-primary">Change Banner</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- 2 -->
            <div class="modal fade" id="homePageOffersModal2" tabindex="-1" aria-labelledby="homePageOffersModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="homeBannerModalLabel">Change Offer Banner</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            <div class="row mt-3">
                                <form id="offerBannerForm2" action="/offerbanner/2" class="col" method="post" enctype="multipart/form-data">
                                    <div class="form-group row">
                                        <label for="offerBanner2" class="col-sm-2 col-form-label"><b>Image</b></label>
                                        <div class="col-sm-6">
                                            <input type="file" class="form-control-file" id="offerBanner2" name="image" accept="image/*">
                                        </div>
                                    <span id="offerFileErrorMsg2" class="text-danger d-none col-sm-4"><b>Please select an image</b></span>
                                    </div>
                                    <div class="form-group row">
                                        <label for="offerVal" class="col-sm-2 col-form-label"><b>Offer Value</b></label>
                                        <div class="col-sm-3">
                                            <input type="text" name="offerVal" class="form-control" id="offerVal2" placeholder="eg: Flat 50 or 20%">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="title1" class="col-sm-2 col-form-label"><b>Title</b></label>
                                        <div class="col-sm-10">
                                            <input type="text" name="title" placeholder="Your Offer title here" class="form-control" id="title2">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-primary">Change Banner</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <!-- 3 -->
            <div class="modal fade" id="homePageOffersModal3" tabindex="-1" aria-labelledby="homePageOffersModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="homeBannerModalLabel">Change Offer Banner</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            <div class="row mt-3">
                                <form id="offerBannerForm3" action="/offerbanner/3" class="col" method="post" enctype="multipart/form-data">
                                    <div class="form-group row">
                                        <label for="offerBanner3" class="col-sm-2 col-form-label"><b>Image</b></label>
                                        <div class="col-sm-6">
                                            <input type="file" class="form-control-file" id="offerBanner3" name="image" accept="image/*">
                                        </div>
                                    <span id="offerFileErrorMsg3" class="text-danger d-none col-sm-4"><b>Please select an image</b></span>
                                    </div>
                                    <div class="form-group row">
                                        <label for="offerVal" class="col-sm-2 col-form-label"><b>Offer Value</b></label>
                                        <div class="col-sm-3">
                                            <input type="text" name="offerVal" class="form-control" id="offerVal3" placeholder="eg: Flat 50 or 20%">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="title1" class="col-sm-2 col-form-label"><b>Title</b></label>
                                        <div class="col-sm-10">
                                            <input type="text" name="title" placeholder="Your Offer title here" class="form-control" id="title3">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-primary">Change Banner</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- multipage banner modal -->
            <div class="modal fade" id="singlePageBannerModal" tabindex="-1" aria-labelledby="singlePageBannerModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="homeBannerModalLabel">Change Single Banner</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            <div class="row mt-3">
                                <form id="singleBannerForm" action="/changeSingleBanner" class="col d-flex justify-content-between" method="post" enctype="multipart/form-data">
                                    <input type="file"  name="image" id="singleBanner"><br>
                                    <small id="singleErrMsg" class="text-danger d-none"><b>Please select one image</b></small>
                                    <button type="submit" class="btn btn-primary">Change Banner</button>
                                </form>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="/assets/bundles/libscripts.bundle.js"></script>

    <script src="/scripts/bannerAdmin.js"></script>
    <!-- Jquery Plugin -->  
    <script src="/assets/plugin/nouislider/nouislider.min.js"></script>
    <!-- Jquery Page Js --> 
    <script src="../js/template.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>
    <script>
        var stepsSlider2 = document.getElementById('slider-range2');
            var input3 = document.getElementById('minAmount2');
            var input4 = document.getElementById('maxAmount2');
            var inputs2 = [input3, input4];
            noUiSlider.create(stepsSlider2, {
                start: [149, 399],
                connect: true,
                step: 1,
                range: {
                    'min': [0],
                    'max': 2000
                },

            });

            stepsSlider2.noUiSlider.on('update', function (values, handle) {
                inputs2[handle].value = values[handle];
            });
    </script>
</body>
</html> 