<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Tuime - Animal Food Website Template"/>
    <meta name="keywords" content="accessories, digital products, electronic html, modern, products, responsive"/>
    <meta name="author" content="hastech"/>

    <title>Account-Pawty</title>
    <!--== Favicon ==-->
    <link rel="shortcut icon" href="assets/img/favicon.jpg" type="image/x-icon" />
    <!--== Google Fonts ==-->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <!--== Bootstrap CSS ==-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--== Font Awesome Min Icon CSS ==-->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--== 7 Stroke Icon CSS ==-->
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <!--== Swiper CSS ==-->
    <link href="assets/css/swiper.min.css" rel="stylesheet" />
    <!--== Fancybox Min CSS ==-->
    <link href="assets/css/fancybox.min.css" rel="stylesheet" />
    <!--== Range Slider Min CSS ==-->
    <link href="assets/css/ion.rangeSlider.min.css" rel="stylesheet" />

    <!--== Main Style CSS ==-->
    <link href="assets/css/style.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<style>
  .hh-grayBox {
    background-color: #F8F8F8;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pt-45 {
    padding-top: 45px;
}
.pb-20 {
    padding-bottom: 20px;
}
.order-tracking {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 20%;
    margin-bottom: 15px;
    vertical-align: top; /* Add this line to align the divs */
}

.order-tracking .is-complete {
    display: block;
    position: relative;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 0px solid #AFAFAF;
    background-color: #29568caf;
    margin: 0 auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
    z-index: 2;
}
.order-tracking .is-complete:after {
    display: block;
    position: absolute;
    content: '';
    height: 14px;
    width: 7px;
    top: -2px;
    bottom: 0;
    left: 5px;
    margin: auto 0;
    border: 0px solid #AFAFAF;
    border-width: 0px 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}
.order-tracking.completed .is-complete {
    border-color: #3777c5;
    border-width: 0px;
    background-color: #3676c4;
}
.order-tracking.completed .is-complete:after {
    border-color: #fff;
    border-width: 0px 3px 3px 0;
    width: 7px;
    left: 11px;
    opacity: 1;
}
.order-tracking p {
    color: #A4A4A4;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 0;
    line-height: 18px;
}
.order-tracking p span {
    font-size: 12px;
}
.order-tracking.completed p {
    color: #000;
}
.order-tracking::before {
    content: '';
    display: block;
    height: 3px;
    width: calc(100% - 40px);
    background-color: #52a0ff61;
    top: 13px;
    position: absolute;
    left: calc(-50% + 20px);
    z-index: 0;
}
.order-tracking:first-child:before {
    display: none;
}
.order-tracking.completed:before {
    background-color: #3676c4;
}
.col-12::-webkit-scrollbar {
    display: none;
}

.col-12 {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
</style>
</head>
<body>
<!--wrapper start-->
<div class="wrapper">
  <!--== Start Header Wrapper ==-->
  <header class="header-area header-default" data-bg-img="assets/img/photos/asset32.png">
    <div class="container">
      <div class="row no-gutter align-items-center position-relative">
        <div class="col-12">
          <div class="header-align">
            <div class="header-align-start">
              <div class="header-logo-area">
                <a href="/">
                  <img class="logo-main" src="assets/img/logo-light.png" width="158" height="36" alt="Logo" />
                </a>
              </div>
            </div>
            <div class="header-align-center">
              <div class="header-navigation-area position-relative">
                <ul class="main-menu nav">
                  <li><a href="/"><span>Home</span></a></li>
                  <li><a href="/about-us"><span>About</span></a></li>
                  <li><a href="/shop"><span>Shop</span></a></li>
                  <li><a href="/contact"><span>Contact</span></a></li>
                </ul>
              </div>
            </div>
            <div class="header-align-end">
              <div class="header-action-area">
                <div class="shopping-search">
                  <button class="shopping-search-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasSearch" aria-controls="AsideOffcanvasSearch"><i class="pe-7s-search icon"></i></button>
                </div>
                
                <div class="shopping-account">
                  <a class="shopping-account-btn" href="/account">
                    <i class="pe-7s-users icon"></i>
                  </a>
                </div>
                <div class="shopping-wishlist">
                  <a class="shopping-wishlist-btn" href="/wishlist">
                    <i class="pe-7s-like icon"></i>
                  </a>
                </div>
                <div class="shopping-cart">
                  <a class="shopping-cart-btn" href="/cart">
                    <i class="pe-7s-shopbag icon"></i>
                    <sup class="shop-count"><%= user.cart.products.length %></sup>
                  </a>
                </div>
                <button class="btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasMenu" aria-controls="AsideOffcanvasMenu">
                  <i class="pe-7s-menu"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  
  <main class="main-content">
    <!-- == Start My Account Wrapper == -->

    <section class="my-account-area m-0">
      <div class="container pt--0 pb--0">
        <div class="row">
        <div class="col-lg-12">
          <div class="myaccount-page-wrapper">
            <div class="row">
              <div class="col-lg-3 col-md-4" style="position: sticky; top: 0;">
                <nav>
                  <div class="myaccount-tab-menu nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link <%= initialTab === 'dashboard' ? 'active' : '' %>" id="dashboad-tab" data-bs-toggle="tab" data-bs-target="#dashboad" type="button" role="tab" aria-controls="dashboad" aria-selected="<%= initialTab === 'dashboard' %>">Dashboard</button>
                    <button class="nav-link <%= initialTab === 'orders' ? 'active' : '' %>" id="orders-tab" data-bs-toggle="tab" data-bs-target="#orders" type="button" role="tab" aria-controls="orders" aria-selected="<%= initialTab === 'orders' %>"> Orders</button>
                    <!-- <button class="nav-link" id="download-tab" data-bs-toggle="tab" data-bs-target="#download" type="button" role="tab" aria-controls="download" aria-selected="false">Download</button> -->
                    <!-- <button class="nav-link" id="payment-method-tab" data-bs-toggle="tab" data-bs-target="#payment-method" type="button" role="tab" aria-controls="payment-method" aria-selected="false">Payment Method</button> -->
                    <button class="nav-link nav-link <%= initialTab === 'address-edit' ? 'active' : '' %>" id="address-edit-tab" data-bs-toggle="tab" data-bs-target="#address-edit" type="button" role="tab" aria-controls="address-edit" aria-selected="<%= initialTab === 'address-edit' %>">address</button>
                    <button class="nav-link <%= initialTab === 'changePass' ? 'active' : '' %>" id="change-password-tab" data-bs-toggle="tab" data-bs-target="#password-info" type="button" role="tab" aria-controls="changePass" aria-selected="<%= initialTab === 'changePass' %>">ChangeYour Password</button>
                    <button class="nav-link" onclick="window.location.href = '/logout'" type="button">Logout</button>
                  </div>
                </nav>
              </div>

              <div class="col-lg-9 col-md-8">
                <div class="tab-content" id="nav-tabContent">

                  <div class="tab-pane fade <%= initialTab === 'dashboard' ? 'show active' : '' %>" id="dashboad" role="tabpanel" aria-labelledby="dashboad-tab">
                    <div class="myaccount-content">
                      <div class="d-flex justify-content-between">
                        <h3>Dashboard</h3>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#editProfileModal">
                          <i class="fa fa-edit fa-lg"></i>
                        </button>  
                      </div>
                     <div class="welcome">
                        <p>Hello, <strong><%= user.username %></strong></p>
                      </div>
                      <p>From your account dashboard. you can easily check & view your recent orders, manage your shipping and billing addresses and edit your password and account details.</p>
                      <div class="welcome">
                        <p>Your email : <strong><%= user.email %></strong></p>
                        <p>Joined On : <strong><%= user.signedAt.toLocaleDateString(undefined, { month: 'long', day: 'numeric', year: 'numeric' }) %></strong></p>
                        <p>Phone : <strong><%= user.phone %></strong></p>
                      </div>
                      
                      <!-- Modal -->
                      <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form id="editProfileFormm" action="/editprofile" method="post">
                              <div class="modal-body">
                                  <div class="form-group">
                                      <label for="editUsername">Username</label>
                                      <input type="text" class="form-control" name="userName" id="editUsername" value="<%= user.username %>">
                                  </div>
                                  <div class="form-group">
                                      <label for="editEmail">Email</label>
                                      <input type="text" name="email" class="form-control" id="editEmail" value="<%= user.email %>">
                                      <small id="emailError" class="error text-danger font-weight-bold"></small>
                                  </div>
                                  <div class="form-group">
                                      <label for="editPhone">Phone</label>
                                      <input type="tel" name="phone" class="form-control" id="editPhone" value="<%= user.phone%>">
                                      <small id="phoneError" class="error text-danger"></small>
                                  </div>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-success">Save changes</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade <%= initialTab === 'orders' ? 'show active' : '' %>"  id="orders" role="tabpanel" aria-labelledby="orders-tab">
                    <div class="myaccount-content">
                      <h3>Order History</h3>
                      <div class="myaccount-table table-responsive text-center">
                        <table class="table table-bordered">
                          <thead class="thead-light">
                            <tr>
                              <!-- <th>Order</th> -->
                              <th>Date</th>
                              <th>Product Name</th>
                              <th>Payment Method </th>
                              <th>Status</th>
                              <th>Price</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <!-- <% let count = 0 ; %> -->
                            <% orders.forEach((order,index) => { %>
                            <tr>
                              <!-- <td><%= ++count %></td> -->
                              <td><%= order.orderDate.toLocaleDateString('en-US', { month: 'short', day: '2-digit', year: 'numeric' }) %></td>
                              <td><%= order.products.productName %></td>
                              <td class = "text-bold <%= order.paymentMethod === 'Cash On Delivery'?'text-success':'d-none' %>"><%= order.paymentMethod %></td>
                              <td class = "text-bold <%= order.paymentMethod === 'Razorpay'?'text-primary':'d-none' %>"><%= order.paymentMethod %></td>

                              <td style = "<%= order.products.status === 'Pending'?'color:grey;' : 'display: none;' %>" class="text-bold" id="<%= index %>" ><%= order.products.status %></td>
                              <td style = "<%= order.products.status === 'Out Of Delivery'?'color:orange;' : 'display: none;' %>" class="text-bold" id="ind<%= index %>"><%= order.products.status %></td>
                              <td style = "<%= order.products.status === 'Shipped'?'color:blue;' : 'display: none;' %>" class="text-bold" id="inde<%= index %>"><%= order.products.status %></td>
                              <td class = "text-bold <%= order.products.status === 'Cancelled'?'text-danger':'d-none' %>"><%= order.products.status %></td>
                              <td class = "text-bold <%= order.products.status === 'Delivered'?'text-success':'d-none' %>"><%= order.products.status %></td>
                              <td class = "text-bold <%= order.products.status === 'Requested for Cancellation'?'text-danger':'d-none' %>"><%= order.products.status %></td>
                              <td>₹<%= (order.products.price * order.products.quantity)- order.discount %></td>
                              <td><a href="#" data-bs-toggle="modal" data-bs-target="#orderModal-<%= index %>">View</a></td>
                              <!-- <td><a href="/userOrder/<%= order._id %>" class="check-btn sqr-btn">View</a></td> -->
                            </tr>
                              <!-- Modal -->
                              <div class="modal fade" id="orderModal-<%= index %>" tabindex="-1" aria-labelledby="orderModalLabel-<%= index %>" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="orderModalLabel-<%= index %>">Order Details</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-12">
                                                    <img src="<%= order.products.images[0] %>" class="img-fluid" alt="order-image">
                                                </div>
                                                <div class="col-lg-8 col-sm-12">
                                                    <div class="my-4 d-flex flex-wrap">
                                                        <div class="col-md-6 order-details mb-2">
                                                            <h3>Order Details:</h3>  
                                                            <p><b>OrderID: #<%= order.products._id %></b></p>
                                                            <p><b>Product Name:</b> <%= order.products.productName %></p>
                                                            <p><b>Brand:</b> <%= order.products.brand %></p>
                                                            <p><b>Price:</b> <%= order.products.price %> x <%= order.products.quantity %></p>
                                                            <!-- <p><b>Quantity:</b> <%= order.products.quantity %></p> -->
                                                            <p><b>Discount:</b> <%= order.discount%></p>
                                                            <p><b>Total:</b> <%= (order.products.price * order.products.quantity)- order.discount %></p>
                                                            <p><b>Order Status:</b> <%= order.products.status %></p>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12 address-details">
                                                            <h3 class="">Delivery Address:</h3>
                                                            <p><b>Customer Name:</b> <span class="text-uppercase"><%= order.shippingAddress.name %></span></p>
                                                            <p class="text-uppercase">
                                                                <%= order.shippingAddress.locality %> , <%= order.shippingAddress.street %> <br>
                                                                <%= order.shippingAddress.city %> , <%= order.shippingAddress.state %>
                                                            </p>
                                                            <p><b>Pin:</b> <span class="text-uppercase"><%= order.shippingAddress.pincode %></span></p>
                                                            <p><b>Phone No:</b> <span class="text-uppercase"><%= order.shippingAddress.phone %></span></p>
                                                            <p><b>Payment Method:</b> <span><%= order.paymentMethod %></span></p>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-center">
                                                        <% if(order.products.status === 'Pending' || order.products.status ==='Out Of Delivery' || order.products.status ==='Shipped'){ %>
                                                        <h5 class="w-100 text-danger" id="textCancelOrder-<%= index %>"><button class="w-75 h5" onclick="requestCancellation('<%= order._id %>','<%= order.products._id %>','<%= index %>')" style="background-color:rgb(183, 53, 53);color: white;border-radius:10px;border: none;text-decoration:none;">Cancel Order</button></h5>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container p-0">
                                                <div class="row">
                                                    <div class="col-12 hh-grayBox pt-3 pb-2">
                                                        <% function formatDate(date) {
                                                            const options = { weekday: 'short', month: 'long', day: 'numeric' };
                                                            return date.toLocaleDateString('en-US', options);
                                                        } %>
                                                        <% if(order.products.statusHistory !== undefined && order.products.statusHistory.length === 6 && 
                                                        order.products.statusHistory[4].vendorChanged === false && order.products.statusHistory[5].vendorChanged === false  ){ %>
                                                        <% if(order.products.statusHistory[0].vendorChanged === true){ %>
                                                        <div class="order-tracking completed">
                                                            <span class="is-complete"></span>
                                                            <p>Ordered<br><span><%= (formatDate(order.products.statusHistory[0].timestamp)) %></span></p>
                                                        </div>
                                                        <% } %>
                                                        <% if(order.products.statusHistory[1].vendorChanged === true){ %>
                                                        <div class="order-tracking completed">
                                                            <span class="is-complete"></span>
                                                            <p>Shipped<br><span><%= (formatDate(order.products.statusHistory[1].timestamp)) %></span></p>
                                                        </div>
                                                        <% }else{ %>
                                                        <div class="order-tracking">
                                                            <span class="is-complete"></span>
                                                            <p>Shipped<br></p>
                                                        </div>
                                                        <%} %>
                                                        <% if(order.products.statusHistory[2].vendorChanged === true){ %>
                                                        <div class="order-tracking completed">
                                                            <span class="is-complete"></span>
                                                            <p>Out Of Delivery<br><span><%= (formatDate(order.products.statusHistory[2].timestamp)) %></span></p>
                                                        </div>
                                                        <% }else{ %>
                                                        <div class="order-tracking">
                                                            <span class="is-complete"></span>
                                                            <p>Out Of Delivery<br></p>
                                                        </div>
                                                        <%} %>
                                                        <% if(order.products.statusHistory[3].vendorChanged === true){ %>
                                                        <div class="order-tracking completed">
                                                            <span class="is-complete"></span>
                                                            <p>Delivered <br><span><%= (formatDate(order.products.statusHistory[3].timestamp)) %></span></p>
                                                        </div>
                                                        <% }else{ %>
                                                        <div class="order-tracking">
                                                            <span class="is-complete"></span>
                                                            <p>Delivered<br></p>
                                                        </div>
                                                        <%} %>
                                                        <% } %>
                                                        <% if(order.products.statusHistory !== undefined && order.products.statusHistory.length === 6 && 
                                                        (order.products.statusHistory[4].vendorChanged === true || order.products.statusHistory[5].vendorChanged === true)  ){ %>
                                                        <% if(order.products.statusHistory[0].vendorChanged === true){ %>
                                                        <div class="order-tracking completed">
                                                            <span class="is-complete"></span>
                                                            <p>Ordered<br><span><%= (formatDate(order.products.statusHistory[0].timestamp)) %></span></p>
                                                        </div>
                                                        <% } %>
                                                        <% if(order.products.statusHistory[1].vendorChanged === true){ %>
                                                        <div class="order-tracking completed">
                                                            <span class="is-complete"></span>
                                                            <p>Shipped<br><span><%= (formatDate(order.products.statusHistory[1].timestamp)) %></span></p>
                                                        </div>
                                                        <% } %>
                                                        <% if(order.products.statusHistory[2].vendorChanged === true){ %>
                                                        <div class="order-tracking completed">
                                                            <span class="is-complete"></span>
                                                            <p>Out Of Delivery<br><span><%= (formatDate(order.products.statusHistory[2].timestamp)) %></span></p>
                                                        </div>
                                                        <% } %>
                                                        <% if(order.products.statusHistory[4].vendorChanged === true){ %>
                                                        <div class="order-tracking completed">
                                                            <span class="is-complete"></span>
                                                            <p>Requested for Cancellation<br><span><%= (formatDate(order.products.statusHistory[4].timestamp)) %></span></p>
                                                        </div>
                                                        <% }else{ %>
                                                        <div class="order-tracking">
                                                            <span class="is-complete"></span>
                                                            <p>Cancellation Request<br></p>
                                                        </div>
                                                        <%} %>
                                                        <% if(order.products.statusHistory[5].vendorChanged === true){ %>
                                                        <div class="order-tracking completed">
                                                            <span class="is-complete"></span>
                                                            <p>Cancelled <br><span><%= (formatDate(order.products.statusHistory[5].timestamp)) %></span></p>
                                                        </div>
                                                        <% }else{ %>
                                                        <div class="order-tracking">
                                                            <span class="is-complete"></span>
                                                            <p>Cancelled<br></p>
                                                        </div>
                                                        <%} %>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <% }) %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane fade <%= initialTab === 'address-edit' ? 'show active' : '' %>" id="address-edit" role="tabpanel" aria-labelledby="address-edit-tab">
                    <div class="myaccount-content">
                      <div class="d-flex justify-content-between mb-2">
                        <h3>Billing Address</h3>
                        <div class="d-flex flex-column">
                          <button type="button" class="btn  btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#addAddress">
                            Add New Address
                          </button> 
                          <small class="text-success">Upto&nbsp;4&nbsp;Address&nbsp;can&nbsp;be&nbsp;saved</small>
                        </div>
                      </div>
                      <div class="col-12"  style="height: 200px; overflow-y: scroll;">
                        <% user.address.forEach((add, index) => { %>
                          <div class="row mb-3">
                            <div class="col-lg-12">
                              <address class="p-3" style="background-color: #eeecec; border-radius: 15px;">
                                <div class="address-details">
                                  <div class="name d-flex justify-content-between">
                                    <strong class="mt-1 text-uppercase col-7 col-lg-8"><%= add.name %></strong>
                                    <div class="col-5 col-lg-4 text-end">
                                      <button type="button" class="btn text-success" data-bs-toggle="modal" data-bs-target="#editAddress<%= index %>">
                                        <i class="fa fa-edit"></i>
                                      </button>
                                      <button type="button" onclick="window.location.href = `/addressDelete/<%= add._id %>`" class="btn text-danger">
                                        <i class="fa fa-trash text-danger"></i>
                                      </button>
                                    </div>
                                  </div>
                                  <div class="location d-flex flex-wrap">
                                    <div class="col-12 col-lg-6">
                                      <p>Street: <%= add.street %></p>
                                      <p>Locality: <%= add.locality %></p>
                                      <p>City: <%= add.city %></p>
                                      <p>State: <%= add.state %></p>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                      <p>Mobile: <%= add.phone %></p>
                                      <p>Pincode: <%= add.pincode %></p>
                                    </div>
                                  </div>
                                </div>
                              </address>
                            </div>
                          </div> 
                          <!-- Modal edit address -->
                          <div class="modal fade" id="editAddress<%= index %>" tabindex="-1" aria-labelledby="editAddressLabel<%= index %>" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="editAddressLabel<%= index %>">Edit Address</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form class="editaddressForm" action="/editAddress/<%= add._id %>" method="post">
                                  <div class="modal-body">
                                    <!-- Name input -->
                                    <div class="form-group">
                                      <label for="name<%= index %>">Name</label>
                                      <input type="text" class="form-control" value="<%= add.name %>" id="name<%= index %>" name="name">
                                      <div id="name-error<%= index %>" class="text-danger"></div>
                                    </div>
                                    <!-- Locality and street inputs -->
                                    <div class="form-row g-0">
                                      <div class="form-group">
                                        <label for="locality<%= index %>">Locality</label>
                                        <input type="text" class="form-control" id="locality<%= index %>" value="<%= add.locality %>" name="locality">
                                        <div id="locality-error<%= index %>" class="text-danger"></div>
                                      </div>
                                      <div class="form-group">
                                        <label for="street<%= index %>">Street</label>
                                        <input type="text" class="form-control" id="street<%= index %>" value="<%= add.street %>" name="street">
                                        <div id="street-error<%= index %>" class="text-danger"></div>
                                      </div>
                                    </div>
                                    <!-- City and state inputs -->
                                    <div class="form-row g-0">
                                      <div class="form-group">
                                        <label for="city<%= index %>">City</label>
                                        <input type="text" class="form-control" id="city<%= index %>" value="<%= add.city %>" name="city">
                                        <div id="city-error<%= index %>" class="text-danger"></div>
                                      </div>
                                      <div class="form-group">
                                        <label for="state<%= index %>">State</label>
                                        <select id="state<%= index %>" class="form-control" name="state">
                                          <option value="">Select State</option>
                                          <option value="Karnataka" <%= add.state === 'Karnataka' ? 'selected' : '' %>>Karnataka</option>
                                          <option value="Kerala" <%= add.state === 'Kerala' ? 'selected' : '' %>>Kerala</option>
                                          <option value="TamilNadu" <%= add.state === 'TamilNadu' ? 'selected' : '' %>>TamilNadu</option>
                                          <option value="AndraPradesh" <%= add.state === 'AndraPradesh' ? 'selected' : '' %>>AndraPradesh</option>
                                        </select>
                                        <div id="state-error<%= index %>" class="text-danger"></div>
                                      </div>
                                    </div>
                                    <!-- Phone input -->
                                    <div class="form-group">
                                      <label for="phone<%= index %>">Phone</label>
                                      <input type="text" class="form-control" id="phone<%= index %>" value="<%= add.phone %>" name="phone">
                                      <div id="phone-error<%= index %>" class="text-danger"></div>
                                    </div>
                                    <!-- Pincode input -->
                                    <div class="form-group">
                                      <label for="pincode<%= index %>">Pincode</label>
                                      <input type="text" class="form-control" id="pincode<%= index %>" value="<%= add.pincode %>" name="pincode">
                                      <div id="pincode-error<%= index %>" class="text-danger"></div>
                                    </div>
                                    <div id="error-message" class="text-danger"></div>
                                  </div>
                                  <!-- Modal footer -->
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success" onclick="validateAndSubmit('<%=index%>')">Save Changes</button>
                                  </div>
                                </form>                             
                              </div>
                            </div>
                          </div> 
                        <% }) %>      
                      </div>

                      <!-- Modal -->
                      <div class="modal fade" id="addAddress" tabindex="-1" aria-labelledby="addAddress" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="editProfileModalLabel">Add Address</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form id="addAddress" action="/addAddress/0" method="post">
                              <div class="modal-body">
                                <div class="form-group">
                                  <label for="addName">Name</label><br>
                                  <div id="addName-error" class="text-danger"></div>
                                  <input type="text" class="form-control" id="addName" name="name">
                                </div>
                                <div class="form-group">
                                  <label for="addLocality">Locality</label><br>
                                  <div id="addLocality-error" class="text-danger"></div>
                                  <input type="text" class="form-control" id="addLocality" name="locality">
                                </div>
                                <div class="form-group">
                                  <label for="addStreet">Street</label><br>
                                  <div id="addStreet-error" class="text-danger"></div>
                                  <input type="text" class="form-control" id="addStreet" name="street">
                                </div>
                                <div class="form-group">
                                  <label for="addCity">City</label><br>
                                  <small id="addCity-error" class="text-danger"></small>
                                  <input type="text" class="form-control" id="addCity" name="city">
                                </div>
                                <div class="form-group">
                                  <label for="addState">State</label><br>
                                  <small id="addState-error" class="text-danger"></small>
                                  <select id="addState" class="form-control" name="state">
                                    <option value="">Select State</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="TamilNadu">TamilNadu</option>
                                    <option value="AndraPradesh">AndraPradesh</option>
                                    <!-- Add more options for other states -->
                                  </select>
                                </div>
                                <div class="form-group">
                                  <label for="addPhone">Phone</label><br>
                                  <small id="addPhone-error" class="text-danger"></small>
                                  <input type="number" class="form-control" id="addPhone" name="phone">
                                </div>
                                <div class="form-group">
                                  <label for="addPincode">Pincode</label><br>
                                  <small id="addPincode-error" class="text-danger"></small>
                                  <input type="number" class="form-control" id="addPincode" name="pincode">
                                </div>
                                <div id="addError-message" class="text-danger"></div>                                                                
                              </div>
                              <button type="submit" onclick="validateForm(event)" class="btn btn-success d-flex justify-content-center m-auto">Add New Address</button>
                              <br>
                            </form>
                            
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade <%= initialTab === 'changePass' ? 'show active' : '' %>" id="password-info" role="tabpanel" aria-labelledby="change-password-tab">
                    <div class="myaccount-content">
                      <!-- <h3>Account Details</h3> -->
                      <div class="account-details-form">
                        <form action="/changePassword" method="post" id="change-password-form">
                          <fieldset>
                            <legend><h3>Change Password</h3></legend>
                            <div class="single-input-item">
                              <label for="current-pwd" class="required">Current Password</label>
                              <div class="input-group">
                                <input type="password" name="currentPass" checked value="" id="current-pwd" />
                                <div class="input-group-append">
                                  <button class="btn bg-transparent text-dark" type="button" id="toggle-current-pwd">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                  </button>
                                </div>
                              </div>
                              <div id="current-password-error" class="error-message  text-danger"></div>
                            </div>
                            <div class="row">
                              <div class="col-lg-6">
                                <div class="single-input-item">
                                  <label for="new-pwd" class="required">New Password</label>
                                  <div class="input-group">
                                    <input type="password" name="newPass" id="new-pwd" />
                                    <div class="input-group-append">
                                      <button class="btn bg-transparent text-dark" type="button" id="toggle-new-pwd">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                      </button>
                                    </div>
                                  </div>
                                  <div id="new-password-error" class="error-message  text-danger"></div>
                                </div>
                              </div>
                              <div class="col-lg-6">
                                <div class="single-input-item">
                                  <label for="confirm-pwd" class="required">Confirm Password</label>
                                  <div class="input-group">
                                    <input type="password" name="confirmPass" id="confirm-pwd" />
                                    <div class="input-group-append">
                                      <button class="btn bg-transparent text-dark" type="button" id="toggle-confirm-pwd">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                      </button>
                                    </div>
                                  </div>
                                  <div id="confirm-password-error" class="error-message text-danger"></div>
                                </div>
                              </div>
                            </div>
                          </fieldset>
                          <div class="single-input-item d-flex justify-content-between">
                            <button type="button" class="check-btn sqr-btn" id="submit-btn">Save Changes</button>
                            <div class="px-1"> </div>
                            <button type="reset" class="">Reset</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>

     <!--== End My Account Wrapper ==-->

  </main>

  <!--== Start Footer Area Wrapper ==-->
  <footer class="footer-area">
    <!--== Start Footer Main ==-->
    <div class="footer-main">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="widget-item widget-about">
              <h4 class="widget-title">About Us</h4>
              <p class="desc">Lorem ipsum this is a trial website done by the team pawty for more information contact us on provided informations</p>
              <div class="social-icons">
                <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
                <a href="https://dribbble.com/" target="_blank" rel="noopener"><i class="fa fa-dribbble"></i></a>
                <a href="https://www.pinterest.com/" target="_blank" rel="noopener"><i class="fa fa-pinterest-p"></i></a>
                <a href="https://twitter.com/" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="widget-item nav-menu-item1">
              <h4 class="widget-title">Information</h4>
              <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#widgetId-1">Information</h4>
              <div id="widgetId-1" class="collapse widget-collapse-body">
                <div class="collapse-body">
                  <div class="widget-menu-wrap">
                    <ul class="nav-menu">
                      <li><a href="/about-us">About Us</a></li>
                      <li><a href="/account">Delivery Information</a></li>
                      <li><a href="/account">Privacy Policy</a></li>
                      <li><a href="/account">Terms & Conditions</a></li>
                      <li><a href="/contact">Contact Us</a></li>
                      <li><a href="/account">Log-In Info</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="widget-item nav-menu-item2">
              <h4 class="widget-title">Our Policy</h4>
              <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#widgetId-2">Our Policy</h4>
              <div id="widgetId-2" class="collapse widget-collapse-body">
                <div class="collapse-body">
                  <div class="widget-menu-wrap">
                    <ul class="nav-menu">
                      <li><a href="/wishlist">Gallery</a></li>
                      <li><a href="/shop">Brands</a></li>
                      <li><a href="/orders">Gift Certificates</a></li>
                      <li><a href="/shop">Specials</a></li>
                      <li><a href="/account">My Account</a></li>
                      <li><a href="/about-us">About Us</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="widget-item">
              <h4 class="widget-title">Contact Info:</h4>
              <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#widgetId-3">Contact Info:</h4>
              <div id="widgetId-3" class="collapse widget-collapse-body">
                <div class="collapse-body">
                  <div class="widget-contact-info">
                    <p class="contact-info-desc">If you have any question.please contact us at <a href="mailto://pawtyorg@gmail.com">pawtyorg@gmail.com</a></p>
                    <div class="contact-item">
                      <div class="icon">
                        <i class="pe-7s-map-marker"></i>
                      </div>
                      <div class="info">
                        <p>Pawty<br>Atholi - Calicut , Kerala</p>
                      </div>
                    </div>
                    <div class="contact-item phone-info">
                      <div class="icon">
                        <i class="pe-7s-phone"></i>
                      </div>
                      <div class="info">
                        <p><span>Have any Question</span> <br><a href="tel://0123456789">+91 7012264425</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Footer Main ==-->

    <!--== Start Footer Bottom ==-->
    <div class="footer-bottom">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-12">
            <div class="footer-bottom-content">
              <p class="copyright">© 2024 Pawty by <a target="_blank" href="#">HAMIM THOYYIB</a></p>
              <div class="payment">
                <a href="/account"><img src="assets/img/photos/payment.png" width="192" height="21" alt="Payment Logo"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Footer Bottom ==-->
  </footer>
  <!--== End Footer Area Wrapper ==-->

  <!--== Scroll Top Button ==-->
  <div id="scroll-to-top" class="scroll-to-top"><span class="fa fa-angle-up"></span></div>

  <!--== Start Product Quick Wishlist Modal ==-->
  <aside class="product-action-modal modal fade" id="action-WishlistModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="product-action-view-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal">
              <i class="pe-7s-close"></i>
            </button>
            <div class="modal-action-messages">
              <i class="pe-7s-check"></i>  Added to wishlist successfully!
            </div>
            <div class="modal-action-product">
              <div class="thumb">
                <img src="assets/img/shop/modal1.jpg" alt="Organic Food Juice" width="466" height="320">
              </div>
              <h4 class="product-name"><a href="single-product.html">Joust Duffle Bag</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <!--== End Product Quick Wishlist Modal ==-->

  <!--== Start Product Quick Add Cart Modal ==-->
  <aside class="product-action-modal modal fade" id="action-CartAddModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="product-action-view-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal">
              <i class="pe-7s-close"></i>
            </button>
            <div class="modal-action-messages">
              <i class="pe-7s-check"></i>  Added to cart successfully!
            </div>
            <div class="modal-action-product">
              <div class="thumb">
                <img src="assets/img/shop/modal1.jpg" alt="Organic Food Juice" width="466" height="320">
              </div>
              <h4 class="product-name"><a href="single-product.html">Joust Duffle Bag</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <!--== End Product Quick Add Cart Modal ==-->

  <!--== Start Product Quick View Modal ==-->
  <aside class="product-cart-view-modal modal fade" id="action-QuickViewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="product-quick-view-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal">
              <span class="pe-7s-close"></span>
            </button>
            <div class="container pt--0 pb--0">
              <div class="row">
                <div class="col-lg-6">
                  <!--== Start Product Thumbnail Area ==-->
                  <div class="product-single-thumb">
                    <img src="assets/img/shop/quick-view1.jpg" width="544" height="560" alt="Image-HasTech">
                  </div>
                  <!--== End Product Thumbnail Area ==-->
                </div>
                <div class="col-lg-6">
                  <!--== Start Product Info Area ==-->
                  <div class="product-single-info">
                    <h3 class="main-title">Joust Duffle Bag</h3>
                    <div class="prices">
                      <span class="price">₹20.19</span>
                    </div>
                    <div class="rating-box-wrap">
                      <div class="rating-box">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <div class="review-status">
                        <a href="javascript:void(0)">(5 Customer Review)</a>
                      </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipis elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nol exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
                    <div class="product-single-meta">
                      <ul>
                        <li><span>SKU:</span> Ch-256xl</li>
                        <li><span>Categories:</span> 
                          <a href="/shop">Pet Food. eCommerce</a>
                        </li>
                        <li><span>Tags:</span> 
                          <a href="/shop">Petfood. Pet</a>,
                          <a href="/shop">Animal.</a>
                        </li>
                      </ul>
                    </div>
                    <div class="product-quick-action">
                      <div class="qty-wrap">
                        <div class="pro-qty">
                          <input type="text" title="Quantity" value="01">
                        </div>
                      </div>
                      <button type="button" class="btn-product-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                        Add To Cart
                      </button>
                        <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                          <i class="pe-7s-like"></i>
                        </button>
                      <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                        <i class="pe-7s-look"></i>
                      </button>
                    </div>
                  </div>
                  <!--== End Product Info Area ==-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <!--== End Product Quick View Modal ==-->

  <!--== Start Aside Cart ==-->
  <aside class="aside-cart-wrapper offcanvas offcanvas-end" tabindex="-1" id="AsideOffcanvasCart" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h1 class="d-none" id="offcanvasRightLabel">Shopping Cart</h1>
      <button class="btn-aside-cart-close" data-bs-dismiss="offcanvas" aria-label="Close">Shopping Cart <i class="fa fa-chevron-right"></i></button>
    </div>
    <div class="offcanvas-body">
      <ul class="aside-cart-product-list">
        <li class="aside-product-list-item">
          <a href="#/" class="remove">×</a>
          <a href="single-product.html">
            <img src="assets/img/shop/product-mini/1.jpg" width="90" height="110" alt="Image-HasTech">
            <span class="product-title">Leather Mens Slipper</span>
          </a>
          <span class="product-price">1 × £69.99</span>
        </li>
        <li class="aside-product-list-item">
          <a href="#/" class="remove">×</a>
          <a href="single-product.html">
            <img src="assets/img/shop/product-mini/2.jpg" width="90" height="110" alt="Image-HasTech">
            <span class="product-title">Quickiin Mens shoes</span>
          </a>
          <span class="product-price">1 × £20.00</span>
        </li>
      </ul>
      <p class="cart-total"><span>Subtotal:</span><span class="amount">£89.99</span></p>
      <a class="btn-total" href="/cart">View cart</a>
      <a class="btn-total" href="shop-checkout.html">Checkout</a>
      <a class="d-block text-end lh-1" href="shop-checkout.html"><img src="assets/img/photos/paypal.webp" width="133" height="26" alt="Has-image"></a>
    </div>
  </aside>
  <!--== End Aside Cart ==-->

  <!--== Start Aside Search Form ==-->
  <aside class="aside-search-box-wrapper offcanvas offcanvas-top" tabindex="-1" id="AsideOffcanvasSearch" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header">
      <h5 class="d-none" id="offcanvasTopLabel">Aside Search</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"><i class="pe-7s-close"></i></button>
    </div>
    <div class="offcanvas-body">
      <div class="container pt--0 pb--0">
        <div class="search-box-form-wrap">
          <div class="search-note">
            <p>Start typing and press Enter to search</p>
          </div>
          <form action="#" method="post">
            <div class="search-form position-relative">
              <label for="search-input" class="visually-hidden">Search</label>
              <input id="search-input" type="search" class="form-control" placeholder="Search entire store…">
              <button class="search-button"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </aside>
  <!--== End Aside Search Form ==-->

  <!--== Start Aside Menu ==-->
  <aside class="off-canvas-wrapper offcanvas offcanvas-start" tabindex="-1" id="AsideOffcanvasMenu" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h1 class="d-none" id="offcanvasExampleLabel">Aside Menu</h1>
      <button class="btn-menu-close" data-bs-dismiss="offcanvas" aria-label="Close">menu <i class="fa fa-chevron-left"></i></button>
    </div>
    <div class="offcanvas-body">
      <nav id="offcanvasNav" class="offcanvas-menu-nav">
        <ul>
          <li class="offcanvas-nav-parent">
            <a class="offcanvas-nav-item" href="/">Home</a>
          </li>
          <li class="offcanvas-nav-parent">
            <a class="offcanvas-nav-item" href="/shop">Shop</a>
          </li>
          <li class="offcanvas-nav-parent">
            <a class="offcanvas-nav-item" href="/about">about</a>
          </li>
          <li class="offcanvas-nav-parent">
            <a class="offcanvas-nav-item" href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <!--== End Aside Menu ==-->
</div>

<!--=======================Javascript============================-->

<script src="/scripts/addAddressValidation.js"></script>
<!--=== jQuery Modernizr Min Js ===-->
<script src="assets/js/modernizr.js"></script>
<!--=== jQuery Min Js ===-->
<script src="assets/js/jquery-main.js"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="assets/js/jquery-migrate.js"></script>
<!--=== jQuery Popper Min Js ===-->
<script src="assets/js/popper.min.js"></script>
<!--=== jQuery Bootstrap Min Js ===-->
<script src="assets/js/bootstrap.min.js"></script>
<!--=== jQuery Swiper Min Js ===-->
<script src="assets/js/swiper.min.js"></script>
<!--=== jQuery Fancybox Min Js ===-->
<script src="assets/js/fancybox.min.js"></script>
<!--=== jQuery Countdown Min Js ===-->
<script src="assets/js/countdown.js"></script>
<!--=== jQuery Isotope Min Js ===-->
<script src="assets/js/isotope.pkgd.min.js"></script>
<!--=== jQuery Range Slider Min Js ===-->
<script src="assets/js/ion.rangeSlider.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!--=== jQuery Custom Js ===-->
<script src="assets/js/custom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</body>
</html>