<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Tuime - Animal Food Website Template"/>
    <meta name="keywords" content="accessories, digital products, electronic html, modern, products, responsive"/>
    <meta name="author" content="hastech"/>

    <title>Pawty-Home</title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="assets/img/favicon.jpg" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600&amp;display=swap" rel="stylesheet">

    <!--== Bootstrap CSS ==-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--== Font Awesome Min Icon CSS ==-->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--== 7 Stroke Icon CSS ==-->
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <!--== Swiper CSS ==-->
    <link href="assets/css/swiper.min.css" rel="stylesheet" />
    <!--== Fancybox Min CSS ==-->
    <link href="assets/css/fancybox.min.css" rel="stylesheet" />
    <!--== Range Slider Min CSS ==-->
    <link href="assets/css/ion.rangeSlider.min.css" rel="stylesheet" />

    <!--== Main Style CSS ==-->
    <link href="assets/css/style.css" rel="stylesheet" />

    <style>
      .banner-product-single-style3-item .thumb {
        position: relative;
        width: 250px; /* Set your desired width */
        height: 250px; /* Set the height equal to the width */
        overflow: hidden;
      }
      .banner-product-single-style3-item .thumb img {
        width: 100%;
        height: 100%;
        object-fit: fill; /* Ensure the image covers the entire container */
      }
      .square-image {
        display: block;
      }
     
    </style>
</head>

<body>

<!--wrapper start-->
<div class="wrapper">

  <!--== Start Header Wrapper ==-->
  <header class="header-area transparent">
    <div class="container">
      <div class="row no-gutter align-items-center position-relative">
        <div class="col-12">
          <div class="header-align">
            <div class="header-align-start">
              <div class="header-logo-area">
                <a href="/">
                  <img class="logo-main img-fluid" src="assets/img/logo-light.png" alt="Logo" style="max-width:25%;" />
                  <!-- <img class="logo-main" src="assets/img/logo-light.png"alt="Logo" /> -->
                </a>
              </div>
            </div>
            <div class="header-align-center">
              <div class="header-navigation-area position-relative">
                <ul class="main-menu nav ">
                  <li><a href="/"><span>Home</span></a></li>
                  <li><a href="/about-us"><span>About</span></a></li>
                  <li><a href="/shop"><span>Shop</span></a></li>
                  <li><a href="/contact"><span>Contact</span></a></li>
                </ul>
              </div>
            </div>
            <div class="header-align-end">
              <div class="header-action-area">
                <div class="shopping-search">
                  <button class="shopping-search-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasSearch" aria-controls="AsideOffcanvasSearch"><i class="pe-7s-search icon"></i></button>
                </div>
                
                <div class="shopping-account">
                  <a class="shopping-account-btn" href="/account">
                    <i class="pe-7s-users icon"></i>
                  </a>
                </div>
                <div class="shopping-wishlist">
                  <a class="shopping-wishlist-btn" href="/wishlist">
                    <i class="pe-7s-like icon"></i>
                  </a>
                </div>
                <div class="shopping-cart">
                  <a class="shopping-cart-btn" href="/cart">
                    <i class="pe-7s-shopbag icon"></i>
                    <!-- <sup class="shop-count"></sup> -->
                  </a>
                </div>
                <button class="btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasMenu" aria-controls="AsideOffcanvasMenu">
                  <i class="pe-7s-menu"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--== End Header Wrapper ==-->
  
  <main class="main-content">
    <!--== Start Hero Area Wrapper ==-->
    <section class="home-slider-area">
      <div class="swiper home-slider-container default-slider-container">
        <div class="swiper-wrapper home-slider-wrapper slider-default">
          <% banner.mainBanner.forEach(image  => { %>
            <div class="swiper-slide">
              <div class="slider-content-two-area" data-bg-img="<%= image %>">
                <div class="container">
                  <div class="slider-container">
                    <div class="row justify-content-sm-end justify-content-center align-items-center">
                      <div class="col-sm-8 col-md-6">
                        <div class="slider-content">
                          <div class="content">
                            <div class="sub-title-box">
                              <!-- <h5 class="sub-title">100% Quality Products</h5> -->
                            </div>
                            <div class="title-box">
                              <!-- <h2 class="title">More than just food,it's love in every bowl.</h2> -->
                            </div>
                            <div class="desc-box">
                              <!-- <p class="desc">They may not ask for much, but their wagging tails and purrs speak volumes. Show them your love with every bowlful of wholesome nutrition.</p> -->
                            </div>
                            <div class="btn-box">
                              <!-- <a class="btn-theme text-dark" href="/shop">Shop Now</a> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="home-overlay"></div>
              </div>
            </div>  
          <% }) %>
        </div>

        <!--== Add Swiper Arrows ==-->
        <div class="swiper-btn-wrap">
          <div class="swiper-btn-prev">
            <i class="pe-7s-angle-left"></i>
          </div>
          <div class="swiper-btn-next">
            <i class="pe-7s-angle-right"></i>
          </div>
        </div>
      </div>
    </section>
    <!--== End Hero Area Wrapper ==-->

    <!--== Start Feature Area Wrapper ==-->
    <div class="feature-area feature-style2-area p-0 features d-sm-block d-none">
      <div class="containe m-0 p-0">
        <div class="row my-5 col-12 mx-0 p-0 g-0 ">
          <div class="col d-flex justify-content-center">
            <div class="feature-icon-box">
              <div class="icon-box">
                <img class="icon-img img-fluid" src="assets/img/icons/f1.png" alt="Icon-HasTech">
              </div>
              <div class="content d-sm-block d-none">
                <h5 class="title">Free Shipping</h5>
                <p>Capped at ₹39 per order</p>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <div class="feature-icon-box">
              <div class="icon-box">
                <img class="icon-img img-fluid" src="assets/img/icons/f2.png" alt="Icon-HasTech">
              </div>
              <div class="content d-sm-block d-none">
                <h5 class="title">Card Payments</h5>
                <p>12 Months Installments</p>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center d-sm-block d-none">
            <div class="feature-icon-box">
              <div class="icon-box">
                <img class="icon-img img-fluid" src="assets/img/icons/f3.png" alt="Icon-HasTech">
              </div>
              <div class="content d-sm-block d-none">
                <h5 class="title">Easy Returns</h5>
                <p>Shop With Confidence</p>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <div class="feature-icon-box ">
              <div class="icon-box">
                <img class="icon-img img-fluid" src="assets/img/icons/f4.png" alt="Icon-HasTech">
              </div>
              <div class="content d-sm-block d-none">
                <h5 class="title">24/7 Support</h5>
                <p>Contact 24 hours everyday</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Feature Area Wrapper ==-->

    <!--== Start Product Banner Area Wrapper ==-->
    <section class="product-banner-area mb-5" style="background-color:rgb(246, 244, 244)">
      <div class="container py-5">
        <div class="row d-flex justify-content-between p-0 m-0">
          <div class="col-md-6 col-lg-4 m-0">
            <div class="banner-product-single-style3-item mt-3">
              <div class="thumb w-100">
                <a href="/shop">
                  <img src="<%= banner.offerBanner[0].image%>" style="border-radius:15px;" width="100%" height="100%" alt="Image-HasTech">
                </a>
                
              </div>    
            </div>
            <div class="d-flex justify-content-center">
              <h5 class="sub-title">-<%= banner.offerBanner[0].offerValue %> Off On &nbsp;</h5>
              <h5 class="title"><%= banner.offerBanner[0].title %></h5>
            </div>
            <a class="bannerButton d-flex justify-content-center py-2 mb-4" href="/shop">Shop Now</a>
          </div>
          <div class="col-md-6 col-lg-4 m-0">
            <div class="banner-product-single-style3-item mt-3">
              <div class="thumb w-100">
                <a href="/shop">
                  <img src="<%= banner.offerBanner[1].image%>"  style="border-radius:15px;"  width="100%" height="100%" alt="Image-HasTech">
                </a>
                
              </div>    
            </div>
            <div class="d-flex justify-content-center">
              <h5 class="sub-title">-<%= banner.offerBanner[1].offerValue %> Off On &nbsp;</h5>
              <h5 class="title"><%= banner.offerBanner[1].title %></h5>
            </div>
            <a class="bannerButton d-flex justify-content-center py-2 mb-4" href="/shop">Shop Now</a>
          </div>
          <div class="col-md-6 col-lg-4 m-0">
            <div class="banner-product-single-style3-item mt-3">
              <div class="thumb w-100">
                <a href="/shop">
                  <img src="<%= banner.offerBanner[2].image%>" style="border-radius:15px;"  width="100%" height="100%" alt="Image-HasTech">
                </a>
                
              </div>    
            </div>
            <div class="d-flex justify-content-center">
              <h5 class="sub-title">-<%= banner.offerBanner[2].offerValue %> Off On &nbsp;</h5>
              <h5 class="title"><%= banner.offerBanner[2].title %></h5>
            </div>
            <a class="bannerButton d-flex justify-content-center py-2 mb-4" href="/shop">Shop Now</a>
          </div>
        </div>
      </div>
    </section>
    <section class="product-area product-default-area">
      <div class="container p-0">
        <div class="row m-0">
          <div class="col-12">
            <div class="section-title mb-45 mb-sm-20 shape-center text-center">
              <h5 class="sub-title">Best Quality PRODUCTs</h5>
              <h2 class="title">New Collection</h2>
            </div>
            <div id="subcategory-buttons" class="isotope-filter isotope-filter-style2">
              <% subCategory.forEach((sub, ind) => { %>
              <button id="subcategory-button-<%= ind %>" class="subcategory-button <%= ind === 0 ? 'active' : '' %>" data-filter=".<%= sub.subCategoryName %>"><%= sub.subCategoryName %></button>
              <% }) %>
            </div>
          </div>
        </div>
        <div>
          <div id="products-container" style="min-height:320px; white-space: nowrap;overflow-y: auto;" class="row isotope-grid">
            <% let count = 0; %>
            <% products.forEach(prod => { %>
              <% if (prod.subCategory === subCategory[0].subCategoryName && count < 4) { %>
              <div class="col-6 col-lg-3 isotope-item filter_best_sellers <%= prod.subCategory %>">
                <div class="product-item">
                  <div class="product-thumb">
                    <a href="/product/<%= prod._id %>">
                      <img src="<%= prod.images[0] %>" width="270" height="320" alt="Image-HasTech" class="img-fluid">
                    </a>
                  </div>
                  <div class="product-info">
                    <h4 class="title"><a href="single-product.html"><%= prod.productName %></a></h4>
                    <div class="prices">
                      <span class="price">₹<%= prod.price %></span>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
              <% count++; %>
            <% }) %>
          </div>
        </div>
        
      </div>
    </section>
    
    
    <input type="hidden" id="products-data" value="<%= JSON.stringify(products) %>">
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const subcategoryButtons = document.querySelectorAll(".subcategory-button");
        const productsContainer = document.getElementById("products-container");
        const productsData = JSON.parse(document.getElementById("products-data").value);
    
        subcategoryButtons.forEach((button, index) => {
          button.addEventListener("click", function () {
            // Remove active class from all buttons
            subcategoryButtons.forEach(btn => btn.classList.remove("active"));
    
            // Add active class to the clicked button
            button.classList.add("active");
    
            // Filter products based on the clicked subcategory
            const selectedSubcategory = button.getAttribute("data-filter").replace(".", "");
            const filteredProducts = productsData.filter(prod => prod.subCategory === selectedSubcategory).slice(0, 8);
    
            // Update the products listing
            productsContainer.innerHTML = "";
            filteredProducts.forEach(prod => {
              productsContainer.innerHTML += `
                <div class="col-6 col-lg-3 isotope-item filter_best_sellers ${prod.subCategory}">
                  <div class="product-item">
                    <div class="product-thumb">
                      <a href="/product/${prod._id}">
                        <img src="${prod.images[0]}" width="270" height="320" alt="Image-HasTech">
                      </a>
                    </div>
                    <div class="product-info">
                      <h4 class="title"><a href="single-product.html">${prod.productName}</a></h4>
                      <div class="prices">
                        <span class="price">₹${prod.price}</span>
                      </div>
                    </div>
                  </div>
                </div>
              `;
            });
          });
        });
      });
    </script>
    
    <section class="about-area">
      <div class="container">
        <div class="about-item position-relative">
          <div class="row align-items-center">
            <div class="col-lg-6 order-2 order-lg-1">
              <div class="about-content">
                <div class="section-title shape-left">
                  <h5 class="sub-title">Best PRODUCT</h5>
                  <h2 class="title">Best Pet Food</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
                <p>Velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidata non proident, sunt in culpa qui officia deserun mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error.</p>
                <a class="btn-theme" href="/shop">Shop Now</a>
              </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
              <div class="about-thumb">
                <img src="assets/img/about/1.png" width="569" height="577" alt="Image-HasTech">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!--== Start Footer Area Wrapper ==-->
  <footer class="footer-area">
    <!--== Start Footer Main ==-->
    <div class="footer-main">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="widget-item widget-about">
              <h4 class="widget-title">About Us</h4>
              <p class="desc">Lorem ipsum this is a trial website done by the team pawty for more information contact us on provided informations</p>
              <div class="social-icons">
                <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
                <a href="https://dribbble.com/" target="_blank" rel="noopener"><i class="fa fa-dribbble"></i></a>
                <a href="https://www.pinterest.com/" target="_blank" rel="noopener"><i class="fa fa-pinterest-p"></i></a>
                <a href="https://twitter.com/" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="widget-item nav-menu-item1">
              <h4 class="widget-title">Information</h4>
              <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#widgetId-1">Information</h4>
              <div id="widgetId-1" class="collapse widget-collapse-body">
                <div class="collapse-body">
                  <div class="widget-menu-wrap">
                    <ul class="nav-menu">
                      <li><a href="/about-us">About Us</a></li>
                      <li><a href="/account">Delivery Information</a></li>
                      <li><a href="/account">Privacy Policy</a></li>
                      <li><a href="/account">Terms & Conditions</a></li>
                      <li><a href="/contact">Contact Us</a></li>
                      <li><a href="/account">Log-In Info</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="widget-item nav-menu-item2">
              <h4 class="widget-title">Our Policy</h4>
              <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#widgetId-2">Our Policy</h4>
              <div id="widgetId-2" class="collapse widget-collapse-body">
                <div class="collapse-body">
                  <div class="widget-menu-wrap">
                    <ul class="nav-menu">
                      <li><a href="/wishlist">Gallery</a></li>
                      <li><a href="/shop">Brands</a></li>
                      <li><a href="/orders">Gift Certificates</a></li>
                      <li><a href="/shop">Specials</a></li>
                      <li><a href="/account">My Account</a></li>
                      <li><a href="/about-us">About Us</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="widget-item">
              <h4 class="widget-title">Contact Info:</h4>
              <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#widgetId-3">Contact Info:</h4>
              <div id="widgetId-3" class="collapse widget-collapse-body">
                <div class="collapse-body">
                  <div class="widget-contact-info">
                    <p class="contact-info-desc">If you have any question.please contact us at <a href="mailto://pawtyorg@gmail.com">pawtyorg@gmail.com</a></p>
                    <div class="contact-item">
                      <div class="icon">
                        <i class="pe-7s-map-marker"></i>
                      </div>
                      <div class="info">
                        <p>Pawty<br>Atholi - Calicut , Kerala</p>
                      </div>
                    </div>
                    <div class="contact-item phone-info">
                      <div class="icon">
                        <i class="pe-7s-phone"></i>
                      </div>
                      <div class="info">
                        <p><span>Have any Question</span> <br><a href="tel://0123456789">+91 7012264425</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Footer Main ==-->

    <!--== Start Footer Bottom ==-->
    <div class="footer-bottom">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-12">
            <div class="footer-bottom-content">
              <p class="copyright">© 2024 Pawty by <a target="_blank" href="#">HAMIM THOYYIB</a></p>
              <div class="payment">
                <a href="/account"><img src="assets/img/photos/payment.png" width="192" height="21" alt="Payment Logo"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Footer Bottom ==-->
  </footer>
  <!--== End Footer Area Wrapper ==-->

  <!--== Scroll Top Button ==-->
  <div id="scroll-to-top" class="scroll-to-top"><span class="fa fa-angle-up"></span></div>


  <!--== Start Aside Search Form ==-->
  <aside class="aside-search-box-wrapper offcanvas offcanvas-top" tabindex="-1" id="AsideOffcanvasSearch" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header">
      <h5 class="d-none" id="offcanvasTopLabel">Aside Search</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"><i class="pe-7s-close"></i></button>
    </div>
    <div class="offcanvas-body">
      <div class="container pt--0 pb--0">
        <div class="search-box-form-wrap">
          <div class="search-note">
            <p>Start typing and press Enter to search</p>
          </div>
          <form action="/searchProduct" method="post">
            <div class="search-form position-relative">
              <label for="search-input" class="visually-hidden">Search</label>
              <input id="search-input" type="search" class="form-control" placeholder="Search entire store…">
              <button class="search-button"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </aside>
  <!--== End Aside Search Form ==-->

  <!--== Start Aside Menu ==-->
  <aside class="off-canvas-wrapper offcanvas offcanvas-start" tabindex="-1" id="AsideOffcanvasMenu" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h1 class="d-none" id="offcanvasExampleLabel">Aside Menu</h1>
      <button class="btn-menu-close" data-bs-dismiss="offcanvas" aria-label="Close">menu <i class="fa fa-chevron-left"></i></button>
    </div>
    <div class="offcanvas-body">
      <nav id="offcanvasNav" class="offcanvas-menu-nav">
        <ul>
          <li class="offcanvas-nav-parent">
            <a class="offcanvas-nav-item" href="/">Home</a>
          </li>
          <li class="offcanvas-nav-parent">
            <a class="offcanvas-nav-item" href="/shop">Shop</a>
          </li>
          <li class="offcanvas-nav-parent">
            <a class="offcanvas-nav-item" href="/about">about</a>
          </li>
          <li class="offcanvas-nav-parent">
            <a class="offcanvas-nav-item" href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <!--== End Aside Menu ==-->
</div>

<script>
  document.getElementById('categorySelect').addEventListener('change', fetchData);

  async function fetchData() {
      // Get the selected category name from the select element
      const selectedCategoryName = document.getElementById('categorySelect').value;

      try {
          let url;
          if (selectedCategoryName === 'All') {
              url = '/categoryFiltration'; // No category selected, fetch all products
          } else {
              url = `/categoryFiltration?categoryName=${selectedCategoryName}`; 
          }
          // Make a Fetch request to your backend route
          const response = await fetch(url);
          if (!response.ok) {
              throw new Error('Network response was not ok.');
          }
          const data = await response.json();
          console.log(data);
          displayProducts(data.products); // Call function to display products
      } catch (error) {
          // Handle errors
          console.error('There was a problem with the fetch operation:', error);
      }
  }

  // Function to display products
  function displayProducts(products) {
      const productListDiv = document.getElementById('productList');
      if (products && products.length > 0) {
          // Clear previous product list
          productListDiv.innerHTML = '';
          // Create product elements for each product
          products.forEach(product => {
              const productDiv = document.createElement('div');
              productDiv.classList.add('col-xl-4', 'col-lg-6', 'col-md-6', 'col-sm-6');
              productDiv.innerHTML = `
                <div class="product-wrap mb-35">
                <div class="product-img mb-15">
                <a href="/singleProduct/${product._id}">
                <img class="w120 rounded img-fluid" src="${product.images[0]}" alt="noImage">
                </a>
                <div class="product-action">
                <a title="Wishlist" onclick="addToWishlist('${product._id}')">
                  <i class="la la-heart-o"></i>
                </a>
                </div>
                </div>
                <div class="product-content">
                <span>${product.name}</span>
                <h4><a href="product-details.html">${product.meterial}</a></h4>
                <div class="price-addtocart">
                <div class="product-price">
                  <span>${product.price}</span>
                </div>
                <div class="product-addtocart btn text-muted btn-sm" onclick="addToCart('${product._id}')">
                  + Add To Cart
                </div>
                </div>
                </div>
                </div>`;
              productListDiv.appendChild(productDiv);
          });
      } else {
          // If no products found, display a message
          productListDiv.innerHTML = '<div class="col-12"><p>No products found</p></div>';
      }
  }
</script>


<!--=======================Javascript============================-->

<!--=== jQuery Modernizr Min Js ===-->
<script src="assets/js/modernizr.js"></script>
<!--=== jQuery Min Js ===-->
<script src="assets/js/jquery-main.js"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="assets/js/jquery-migrate.js"></script>
<!--=== jQuery Popper Min Js ===-->
<script src="assets/js/popper.min.js"></script>
<!--=== jQuery Bootstrap Min Js ===-->
<script src="assets/js/bootstrap.min.js"></script>
<!--=== jQuery Swiper Min Js ===-->
<script src="assets/js/swiper.min.js"></script>
<!--=== jQuery Fancybox Min Js ===-->
<script src="assets/js/fancybox.min.js"></script>
<!--=== jQuery Countdown Min Js ===-->
<script src="assets/js/countdown.js"></script>
<!--=== jQuery Isotope Min Js ===-->
<script src="assets/js/isotope.pkgd.min.js"></script>
<!--=== jQuery Range Slider Min Js ===-->
<script src="assets/js/ion.rangeSlider.min.js"></script>

<!--=== jQuery Custom Js ===-->
<script src="assets/js/custom.js"></script>

</body>
</html>